<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_dive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditProfileActv"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".MyTicketDetailActv"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyProfileActv"
            android:screenOrientation="portrait"/>
        <activity android:name=".SuccessOrder"
            android:screenOrientation="portrait"/>
        <activity android:name=".CheckoutActv"
            android:screenOrientation="portrait"/>
        <activity android:name=".DoDiveActv"
            android:screenOrientation="portrait"/>
        <activity android:name=".HomeActv"
            android:screenOrientation="portrait"/>
        <activity android:name=".SuccessActv"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterTwoActv"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterOneActv"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignInActv"
            android:screenOrientation="portrait"/>
        <activity android:name=".GetstartedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>